{% extends 'base.html' %}

{% block start %}
<br>
<form class="container  col-6 mx-auto p-3 shadow-lg" method="post">
    {% csrf_token %}
    <h2>Enter to details to fetch employee</h2>


    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="name">
    </div>

    <div class="form-group">
        <label for="last_name">Department Name</label>
        <input type="text" class="form-control" name="dept" >
    </div>

    <div class="form-group">
        <label for="last_name">Role</label>
        <input type="text" class="form-control" name="role" >
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{%endblock %}